<!doctype html>
<html lang='en' >
  <head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src='controller.js'></script>
    <style>
        .animate.ng-enter, .animate.ng-leave {
            transition: all 1s ease;
        } 
        .animate.ng-leave.ng-leave-active, .animate.ng-enter{opacity:0;}
        .animate.ng-enter.ng-enter-active{opacity:1;}
    </style>
  </head>
  <body ng-app='mainApp' ng-controller="app">
        <p>Search: <input type="" ng-model="searchBox"></p>
        <hr>
        <ul>
            <li class="animate" ng-repeat="food in foods | filter: searchBox">
                {{food}}
            </li>
        </ul>
  </body>
</html>